data/*
tutoriales/*
modelos/*
src/samples/*
src/__pycache__/*
src/vae_esferas/__pycache__/*
src/vae_esferas/py_classes/__pycache__/*
runs/*
*/*.pyc
*/*.png

# Extensiones de archivos a no considerar
*.zip*
*.tar*
*.gz*
*.bz*
